// /*================================== home logo carosuel page 2  ================================*/
.logo_carosuel_wrapper_home_two {
    padding: 150px 0 65px;
}
/*================================== logo_carosuel_wrapper  ================================*/
.logo_carosuel_wrapper {
    .logo_carosuel_inner {
        outline: none;
        img {
            text-align: center;
            margin: 0 auto;
        }
    }
}
